<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.staf621.ki4a">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.staf621.ki4a.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.staf621.ki4a.MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service android:enabled="true" android:name=".ki4aService" />

        <service android:name=".ki4aVPNService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false">
                <intent-filter>
                    <action android:name="android.net.VpnService"/>
                </intent-filter>
        </service>

        <receiver android:name=".ki4aUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
